In [0]:
# Configuration details
storage_account_name = "adlsstoragehockey"
storage_account_key = "clFz+IqyE3a2urx/PnxFLcfk8vwUclZTGvY9GcGjVzI+t2/d6RSpUjGqaHIhEUyahCPGtmF+d4zL+AStz2XpCQ=="

# Replace with your storage account name and container
configs = {
  f"fs.azure.account.key.adlsstoragehockey.blob.core.windows.net": "clFz+IqyE3a2urx/PnxFLcfk8vwUclZTGvY9GcGjVzI+t2/d6RSpUjGqaHIhEUyahCPGtmF+d4zL+AStz2XpCQ=="
}

# Mount raw folder
dbutils.fs.mount(
  source = f"wasbs://raw@adlsstoragehockey.blob.core.windows.net",
  mount_point = "/mnt/mount1",
  extra_configs=configs)

True

In [0]:
# Read Source 1
df_src1 = spark.read.option("header", True).csv("/mnt/mount1/Hockey_Src1.csv")

# Read Source 2
df_src2 = spark.read.option("header", True).csv("/mnt/mount1/Hockey_Src2.csv")

# Read Date Table
df_date = spark.read.option("header", True).csv("/mnt/mount1/DIM.Date.Table.csv")

In [0]:
df_src1.show(5)
df_src2.show(5)
df_date.show(5)

+----+--------+-------------+-----------+---------+------------+--------+---------+---------+-----------+-----------+------------+------------+-----------+---------------+----------+--------------+-----------+--------+-----------+-----------------------+-------------+------------------+---------+
|Year|   Month|        Match|Player Name|Club Name|country Name|Position|Jersey_No| D. O. B.|Nationality|appearances|goals scored|goals assist|total shots|shots on target|fouls made|fouls suffered|yellow card|red card|goals saved|goals conceded(stopped)|total penalty|successful penalty|   salary|
+----+--------+-------------+-----------+---------+------------+--------+---------+---------+-----------+-----------+------------+------------+-----------+---------------+----------+--------------+-----------+--------+-----------+-----------------------+-------------+------------------+---------+
|2010| January|International|     Adrian|       NA| Netherlands|      LW|       88|30-Mar-85|Netherlands|          8|           8|           3|         67|             49|         8|             0|          0|       0|         29|                     23|            2|                 1|$2,424.88|
|2010|February|International|     Adrian|       NA| Netherlands|      LW|       88|30-Mar-85|Netherlands|          8|           7|           8|         77|             44|         3|             5|          4|       2|         19|                     21|            0|                 0|$2,424.88|
|2010|   March|International|     Adrian|       NA| Netherlands|      LW|       88|30-Mar-85|Netherlands|          8|           7|           5|         59|             45|        11|             7|          1|       1|         26|                     15|            0|                 0|$2,424.88|
|2010|   April|International|     Adrian|       NA| Netherlands|      LW|       88|30-Mar-85|Netherlands|          8|          10|           8|         71|             50|         7|             0|          1|       2|         18|                     30|            3|                 3|$2,424.88|
|2010|     May|International|     Adrian|       NA| Netherlands|      LW|       88|30-Mar-85|Netherlands|          8|          10|           3|         80|             45|        12|             2|          0|       1|         25|                     25|            5|                 3|$2,424.88|
+----+--------+-------------+-----------+---------+------------+--------+---------+---------+-----------+-----------+------------+------------+-----------+---------------+----------+--------------+-----------+--------+-----------+-----------------------+-------------+------------------+---------+
only showing top 5 rows

+----+----------+-----------+------------------+-----+------------+-----------+----------+-----------+----+-----+-----+------------+---------+
|Year|Match_Name|League_Name|         Club_Name|Coach|Country Name|    Manager|     Owner|appearances|wins|losts|drawn|clean sheets|Net Worth|
+----+----------+-----------+------------------+-----+------------+-----------+----------+-----------+----+-----+-----+------------+---------+
|2010|      Club|    LA Liga| Atheletico Madrid|   NA|          NA|Alvin Lucas|Dean Green|          8|   7|    0|    1|           5|$745,634 |
|2010|      Club|    LA Liga| Atheletico Madrid|   NA|          NA|Alvin Lucas|Dean Green|          8|   2|    1|    5|           1|$745,634 |
|2010|      Club|    LA Liga| Atheletico Madrid|   NA|          NA|Alvin Lucas|Dean Green|          8|   6|    1|    1|           3|$745,634 |
|2010|      Club|    LA Liga| Atheletico Madrid|   NA|          NA|Alvin Lucas|Dean Green|          8|   6|    1|    1|           4|$745,634 |
|2010|      Club|    LA Liga| Atheletico Madrid|   NA|          NA|Alvin Lucas|Dean Green|          8|   4|    3|    1|           3|$745,634 |
+----+----------+-----------+------------------+-----+------------+-----------+----------+-----------+----+-----+-----+------------+---------+
only showing top 5 rows

+--------+-------------------+-----------+----------------+---------------+---------+----------+------------+----------------+----------------+-------------------+-------------------+--------+-----------------+----------+------------+-------+-------+------+------------+--------------+-----------+----------------------+----------------------+
|date_key|          full_date|day_of_week|day_num_in_month|day_num_overall| day_name|day_abbrev|weekday_flag|week_num_in_year|week_num_overall|    week_begin_date|week_begin_date_key|fb_month|month_num_overall|month_name|month_abbrev|quarter|fb_year|yearmo|fiscal_month|fiscal_quarter|fiscal_year|last_day_in_month_flag|same_day_year_ago_date|
+--------+-------------------+-----------+----------------+---------------+---------+----------+------------+----------------+----------------+-------------------+-------------------+--------+-----------------+----------+------------+-------+-------+------+------------+--------------+-----------+----------------------+----------------------+
|20080101|2008-01-01 00:00:00|          2|               1|              1|  Tuesday|       Tue|           y|               1|               1|2007-12-31 00:00:00|           20071231|       1|                1|   January|         Jan|      1|   2008|200801|          10|             4|       2008|                     n|   2007-01-01 00:00:00|
|20080102|2008-01-02 00:00:00|          3|               2|              2|Wednesday|       Wed|           y|               1|               1|2007-12-31 00:00:00|           20071231|       1|                1|   January|         Jan|      1|   2008|200801|          10|             4|       2008|                     n|   2007-01-02 00:00:00|
|20080103|2008-01-03 00:00:00|          4|               3|              3| Thursday|       Thu|           y|               1|               1|2007-12-31 00:00:00|           20071231|       1|                1|   January|         Jan|      1|   2008|200801|          10|             4|       2008|                     n|   2007-01-03 00:00:00|
|20080104|2008-01-04 00:00:00|          5|               4|              4|   Friday|       Fri|           y|               1|               1|2007-12-31 00:00:00|           20071231|       1|                1|   January|         Jan|      1|   2008|200801|          10|             4|       2008|                     n|   2007-01-04 00:00:00|
|20080105|2008-01-05 00:00:00|          6|               5|              5| Saturday|       Sat|           n|               1|               1|2007-12-31 00:00:00|           20071231|       1|                1|   January|         Jan|      1|   2008|200801|          10|             4|       2008|                     n|   2007-01-05 00:00:00|
+--------+-------------------+-----------+----------------+---------------+---------+----------+------------+----------------+----------------+-------------------+-------------------+--------+-----------------+----------+------------+-------+-------+------+------------+--------------+-----------+----------------------+----------------------+
only showing top 5 rows